*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(247, 31%, 71%);
  --fs-default: 16px;
  --fs-medium: 28px;
  --fs-large: 32px;
  --fs-xlarge: 48px;
  font-size: var(--fs-default);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-default);
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.container {
  background-color: var(--red);
  background-image: url("../images/bg-intro-desktop.png");
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 1400px;
  height: 800px;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 80%;
  }
}

.left {
  color: white;
  flex: 0 0 45%;
  padding-left: 8.5rem;
}
.left h1 {
  font-size: var(--fs-large);
}
.left p {
  font-size: 14px;
  line-height: 1.8;
}
@media screen and (max-width: 1023px) {
  .left {
    flex: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin-bottom: 3rem;
  }
  .left h1, .left p {
    text-align: center;
  }
  .left h1 {
    font-size: var(--fs-large);
    margin-bottom: 20px;
  }
}

.right {
  flex: 0 0 40%;
  height: 600px;
}
@media screen and (max-width: 1023px) {
  .right {
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .right .heading {
    max-width: 100% !important;
    text-align: center;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .right .form #form {
    max-width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .right .form #form .btn {
    width: 90% !important;
    font-size: 12px !important;
  }
  .right .form #form p {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}
.right .heading {
  background-color: var(--blue);
  border-radius: 8px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  color: white;
  display: block;
  font-size: var(--fs-default);
  font-weight: 400;
  max-width: 100%;
  margin-bottom: 40px;
  padding: 1rem;
  text-align: center;
}
.right .heading span {
  font-weight: 700;
  display: inline-block;
}
.right .form {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  /*Div END*/
}
.right .form div {
  flex: 1;
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  position: relative;
}
.right .form div:first-of-type {
  margin-top: 20px;
}
.right .form div:last-of-type {
  margin-bottom: 20px;
}
.right .form div .error-icon {
  position: absolute;
  right: 8%;
  top: 28%;
  display: none;
}
.right .form div .error-icon.visible {
  display: block;
}
.right .form div input {
  border: 1px solid #ededed;
  border-radius: 4px;
  color: var(--dark-blue);
  display: block;
  font-weight: bolder;
  width: 100%;
  outline: none;
  padding: 1.2rem 1.8rem;
}
.right .form div inputfocus {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
}
.right .form div span.error {
  display: none;
}
.right .form .btn {
  display: block;
  width: 100%;
  padding: 1.2rem 1.8rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.right .form .btn-green {
  background-color: var(--green);
  border-radius: 5px;
  border-bottom: 3px outset var(--green);
  border-right: 1px solid var(--green);
  border-left: 1px solid var(--green);
  border-top: 1px solid var(--green);
  color: white;
  font-size: var(--fs-default);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
.right .form p {
  font-size: 12px;
  color: var(--grayish-blue);
  padding-bottom: 2.5rem;
}
.right .form .terms a {
  color: var(--red);
  font-weight: 600;
  text-decoration: none;
}

.visible {
  display: block;
}/*# sourceMappingURL=styles.css.map */